/* CSS declarations go here */

#visjs, #visjs2{
	height:500px;
}
.vis-label{
	fill-opacity:0;
}

.vis-label:hover{
	fill-opacity:1;
}

.groupRedStyle {
	fill: #f20000;
	fill-opacity:0;
	stroke-width:2px;
	stroke: #b31500;
}

.groupBlueStyle {
	fill: #00bcf2;
	fill-opacity:0;
	stroke-width:2px;
	stroke: #0072b3;
}

.centered
{
	text-align:center;
}

p {
	text-align: center;
}

h1, h4{
	text-align: center;
}

select{
	margin-bottom: 15px;
}

.btn{
	margin-bottom: 20px;
}

.highlighted{
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}