<template name="color">
  <div class="row">
    <div class="col-md-6">
      {{> song_viz_controls_color}}
      {{> song_feature_list}}
    </div>

    <div class="col-md-6">
      {{> star_vizjs_color}}

    </div>
    <div>
      <button class="btn btn-primary js-show-blueplanets">Show Only Blue planets</button>
      <button class="btn btn-danger js-show-redplanets">Show Only Red Planets</button>
      <button class="btn js-show-allplanets">Show All Planets</button>
    </div>


  </div>

</template>

