<!-- top level template for the nav bar -->
<template name="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          VIZ
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/color">Color</a></li>
        <li><a href="/distance">Distance</a></li>
        <li><a href="/poscolor">Position in the universe</a></li>
      </ul>
    </div>
  </nav>
</template>